
.DS_Store
Description.pdf
References/annurev-statistics-031017-100450.pdf
data/.Rhistory
.ipynb_checkpoints/wildfires-checkpoint.ipynb
.gitattributes
data/data_train.RData
data/data_train_DF.csv
references/psw_2004_preisler002_jwf.pdf
references/ScienceBrief_Review_WILDFIRES_Sep2020.pdf
references/igam.pdf
references/ISLR+Seventh+Printing.pdf
wildfires.html
.ipynb_checkpoints/wildfires-checkpoint.html
wildfires_2.html
references/Statistical models of vegetations fires.pdf
references/rmrs_gtr153.pdf
.ipynb_checkpoints/wildfires_2-checkpoint.html
.ipynb_checkpoints/wildfires-checkpoint.tex
000037.png
references/part-3.pdf
.Rhistory
prediction_ba.csv
score.R
.ipynb_checkpoints/prediction_ba-checkpoint
.ipynb_checkpoints/prediction_ba-checkpoint.R
.ipynb_checkpoints/wildfires_models-checkpoint.ipynb
references/1405.0352.pdf
.ipynb_checkpoints/train-checkpoint.csv
.ipynb_checkpoints/test-checkpoint.csv
